{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dark Maze</title>
    <link rel="stylesheet" href="{% static 'labyapp/style.css' %}">
</head>
<body>
    <div id="player"></div>
    <table id="maze">
        {% for tr in labyrint %}
            <tr>
            {% for td in tr %}
                <td class="{% for c in td %}{{ c }} {% endfor %}">
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="helptext" id="timer"></div>
    <div class="helptext" id="win"></div>
    <div class="helptext">управление: wasd или hjkl</div>
    <p class="helptext">seed: {{ seed }}</p>
<script src="{% static 'labyapp/index.js' %}"></script>
</body>
</html>
